__pycache__/
*.py[cod]
*$py.class

venv/
.env

.env
*.env


*.log
*.sqlite3
*.db
*.cache
*.pyo
*.pyd
*.pdb
*.sql

.vscode/
.vscode/*

.pytest_cache/
*.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
*.pytest_cache/
htmlcov/


.mypy_cache/
